// Define some sass variables
$bg: var(--bg);
$fg: var(--fg);
$mid: var(--mid);
$dark: var(--dark);

// Define their css variables
:root {
    --bg: #13073d;
    --fg: #ffffff;
    --mid: #88888840;
    --dark: #222222;
}

.loading {
    pointer-events: none;
    cursor: default;
    opacity: 50%;
}

body {
    text-align: center;
    background: $bg;
    color: $fg;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Inter, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

h1 {
    font-size: 2em;
    border-bottom: 1px solid $fg;
    padding: 5px;
    margin: 0 10%;
}

input[type="text"],
input[type="url"],
input[type="username"],
input[type="password"],
.stack_button,
.button,
button {
    color: $fg;
    display: inline-block;
    border-radius: 10px;
    box-sizing: border-box;
    background: $mid;
    padding: 6px 10px;
    border: 0;
    box-shadow: 2px 2px 10px black, 0 0 0 transparent inset;
    transition: 0.5s;
}

button:hover,
.stack_button:hover,
.button:hover {
    box-shadow: 0 0 10px black, 0 0 0 transparent inset;
    background: #00000040;
}

button:active,
.stack_button:active,
.button:active {
    box-shadow: 0 0 0 transparent, 0 0 10px black inset;
    background: #00000040;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.3em;
}

.navbar,
.stack_switcher {
    background-color: $mid;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 10px black;
}

.stack_button {
    margin: 10px 10px;
    padding: 15px 20px;

    a {
        text-decoration: none;
    }
}

.navbar {
    a {
        float: left;
        display: block;
        color: $fg;
        padding: 14px 16px;
        font-size: 17px;
        font-style: italic;
    }

    a:hover {
        background-color: #444444;
    }

    a:active {
        background-color: #ffffff;
        color: $dark;
    }

    a.right {
        float: right;
    }
}

.input {
    margin: 12px;

    label {
        margin-right: 12px;
    }
}

a {
    color: $fg;
    text-decoration: underline;
    font-style: italic;
    font-size: 0.9rem;
}

.error {
    color: #ff6347;
}

// Spinner
@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

.spin::before {
    content: "";
    border: 12px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
    width: 50px;
    height: 50px;
    display: inline-block;
    box-shadow: 2px 2px 6px black inset;
}

.flex-center {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

.icon-center {
    width: 24px;
    margin: 0 auto;
    display: inline-block;
}

.spin {
    border-radius: 50%;
    display: block;
    margin: 20px auto;
    width: 50px;
    height: 50px;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

// Mimicks a gtk style listbox.
.listbox {
    height: 60vh;
    overflow-y: scroll;
    margin: 10px 20px;
    border-radius: 20px;
    color: $fg;
    box-sizing: border-box;
    background: #00000040;
    padding: 6px 10px;
    box-shadow: 0px 0px 10px black inset;
    width: 80%;
    margin: 10px auto;

    :first-child {
        flex: 1;
    }
}

// Create a scrollbar
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #00000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $mid;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $fg;
}

.add_button {
    width: 80%;
    margin: 10px auto;
}
.symbolic-button > img {
    filter: brightness(10);
}

.listbox-row {
    font-size: unset;
    background: $mid;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
    overflow: auto;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
}

button.listbox-row {
    margin: 10px auto;
    width: 100%;
}

.listbox-row > input[type="text"] {
    min-width: 0;
    margin-right: 10px;
    float: left;
    flex: 1;
}

.listbox-row > button {
    float: right;
}

.rounded-button {
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
}

.dim-when-unfocused {
    opacity: 50%;
    transition: 0.5s;
}

.dim-when-unfocused:focus-within {
    opacity: 100%;
}

.center-text {
    text-align: center;
}

.seamless-button {
    font-size: unset;
    color: $fg;
    display: block;
    border-radius: 10px;
    box-sizing: border-box;
    background: transparent;
    padding: 2px 2px;
    margin: 0 6px;
    border: 0;
    box-shadow: 0px 0px 0px black, 0 0 0 transparent inset;
    transition: 0.5s;
}
